@import "../../../styleSheets/variables";

.Navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %border-shadow;
  background-color: #fff;
  padding: 1rem 0;
  z-index: 1;
  height: 64px;

  div {
    height: 100%;

    img {
      height: 100%;
    }
  }
}
