$breakpoint-sm: 600px;

$primary-color: #2196f3;
$primary-color-dark: #1769aa;
$primary-color-faded: #4dabf5;
$main-background-color: #f1f1ca;
$secondary-color: #f44336;
$secondary-color-dark: #d50000;
$main-yellow: #ffeb3b;
$main-green: #4caf50;

%border-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

%border-shadow-hovered {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

%border-radius-common {
  border-radius: 6px;
}
